.container
{
    width: 100%;
    text-align: center;
}

.form-group
{
    border: 1px black solid;
}

.form-input
{
    font-size: 16pt;
    margin: 1rem;
}

.button-increment
{
    width: 2rem;
    font-size: 16pt;
}

.form-label
{
    font-size: 16pt;
}

.button
{
    margin: 1rem;
    width: 10rem;
    height: 3rem;
    font-size: 16pt;
    border-radius: 5rem;
    background-color: lightblue;
}
